<!DOCTYPE html>
<html>

<head>
<title>Academic Blocks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1 class="title">🏫 Academic Blocks</h1>
<p class="subtitle">Select a block to view on campus map</p>

<div class="cards">

<a href="/map/A Block"><button class="card">A Block</button></a>
<a href="/map/B Block"><button class="card">B Block</button></a>
<a href="/map/N Block"><button class="card">N Block</button></a>
<a href="/map/P Block"><button class="card">P Block</button></a>
<a href="/map/M Block"><button class="card">M Block</button></a>

</div>

<br>

<a href="/dashboard">
<button class="map-btn">⬅ Back to Dashboard</button>
</a>

</div>

</body>
</html>