<!DOCTYPE html>
<html>

<head>
<title>Boys Hostels</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1 class="title">🏠 Boys Hostels</h1>

<div class="cards">

<a href="/map/C1"><button class="card">C1</button></a>
<a href="/map/C2"><button class="card">C2</button></a>
<a href="/map/C3"><button class="card">C3</button></a>
<a href="/map/C4"><button class="card">C4</button></a>
<a href="/map/C5"><button class="card">C5</button></a>
<a href="/map/C6"><button class="card">C6</button></a>
<a href="/map/C7"><button class="card">C7</button></a>
<a href="/map/C8"><button class="card">C8</button></a>
<a href="/map/C9"><button class="card">C9</button></a>
<a href="/map/C10"><button class="card">C10</button></a>
<a href="/map/C11"><button class="card">C11</button></a>
<a href="/map/C12"><button class="card">C12</button></a>

</div>

<br>

<a href="/hostels">
<button class="map-btn">⬅ Back</button>
</a>

</div>

</body>

</html>