<!DOCTYPE html>
<html>

<head>

<title>GuideU</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1 class="title">🧭 GuideU</h1>
<p class="subtitle">Smart Campus Navigation</p>

<div class="cards">

<a href="/academic"><button class="card">🏫 Academic Blocks</button></a>

<a href="/food"><button class="card">🍕 Food Outlets</button></a>

<a href="/hostels"><button class="card">🏠 Hostels</button></a>

<a href="/map/Main Campus"><button class="card">🗺 Campus Map</button></a>

</div>

</div>

</body>
</html>
