<!DOCTYPE html>
<html>

<head>
<title>GuideU</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1 class="title">🧭 GuideU</h1>
<p class="subtitle">Smart Campus Navigation</p>

<input type="text" placeholder="Search campus location..." class="search">

<form method="POST">

<div class="cards">

<button class="card" type="submit" name="location" value="A Block">
🏫 Academic Blocks
</button>

<button class="card" type="submit" name="location" value="Gooble">
🍽 Gooble
</button>

<button class="card" type="submit" name="location" value="Girls Hostel D1">
🏠 Girls Hostel
</button>

<button class="card" type="submit" name="location" value="Boys Hostel C1">
🏠 Boys Hostel
</button>

<button class="card" type="submit" name="location" value="Food Outlets">
🍕 Food Outlets
</button>

</div>

</form>

<br>

<a href="/map">
<button class="map-btn">🗺 View Campus Map</button>
</a>

{% if result %}

<div class="result">

<h3>Location Information</h3>

<p><b>Category:</b> {{result.category}}</p>

<p><b>Description:</b> {{result.description}}</p>

</div>

{% endif %}

</div>

</body>
</html>
