<!DOCTYPE html>
<html>

<head>
<title>Food Outlets</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1 class="title">🍕 Food Outlets</h1>

<div class="cards">

<a href="/map/Southern Stories"><button class="card">Southern Stories</button></a>
<a href="/map/Hotspot"><button class="card">Hotspot</button></a>
<a href="/map/Paid Mess"><button class="card">Paid Mess</button></a>
<a href="/map/Infinity"><button class="card">Infinity</button></a>
<a href="/map/Dominos"><button class="card">Dominos</button></a>
<a href="/map/Subway"><button class="card">Subway</button></a>

<a href="/gobble"><button class="card">Gobble Mess</button></a>

</div>

<br>

<a href="/dashboard">
<button class="map-btn">Back</button>
</a>

</div>

</body>
</html>