<!DOCTYPE html>
<html>

<head>
<title>Girls Hostels</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1 class="title">🏠 Girls Hostels</h1>
<p class="subtitle">Select a hostel</p>

<div class="cards">

<a href="/map/D1"><button class="card">D1</button></a>
<a href="/map/D2"><button class="card">D2</button></a>
<a href="/map/D3"><button class="card">D3</button></a>
<a href="/map/D4"><button class="card">D4</button></a>
<a href="/map/D5"><button class="card">D5</button></a>
<a href="/map/D6"><button class="card">D6</button></a>

</div>

<br>

<a href="/hostels">
<button class="map-btn">⬅ Back</button>
</a>

</div>

</body>
</html>