<!DOCTYPE html>
<html>

<head>
<title>GuideU</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1 class="title">🧭 GuideU</h1>
<p class="subtitle">Smart Campus Navigation</p>

<form method="POST">

<input type="text" name="username" placeholder="Username" required>

<input type="password" name="password" placeholder="Password" required>

<button type="submit">Login</button>

</form>

{% if error %}
<p>{{error}}</p>
{% endif %}

</div>

</body>
</html>
